img {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

p {
    display: inline-block;
    margin: 8px;
}

li {
    border-bottom: solid black 1px;
    list-style-type: none;
    width: 300px;
    text-transform: capitalize;
}
