img {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

p {
    display: inline-block;
    margin: 8px;
}

.detailed-pokemon-item {
    border: solid pink 5px;
    border-radius: 10px;
    list-style-type: none;
    width: 300px;
    text-transform: capitalize;
}
