input {
    display: block;
    margin: 20px;
    cursor: pointer;
}

button {
    display: block;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
}

section {
    display: flex;
    flex-direction: row;
    background-color: cornsilk;
}

label {
    background-color: cornflowerblue;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 200px;
    width: 200px;
}

.labelDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    height: 610px;
}