img {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

img:hover {
    opacity: 0.7;
}


p {
    display: inline-block;
    margin: 8px;
}

li {
    float: right;
    position: relative;
    margin: 20px;
    border-bottom: solid black 1px;
    list-style-type: none;
    width: 300px;
    text-transform: capitalize;
}